<div *ngIf="todos.length > 0" class="flex flex-col gap-2 grow p-2">
  <div *ngFor="let todo of todos" class="flex hover:bg-gray-100 transition-all">
    <app-card
      [todo]="todo"
      [openedSettingsID]="openedSettingsID"
      (delete)="deleteTodo($event)"
      (openSettings)="toggleSetting($event)"
      (openView)="openView($event)"
      class="grow"
    />
  </div>
</div>
<div
  *ngIf="openedViewTodo"
  class="fixed top-0 left-0 h-full w-full bg-black/25"
>
  <div
    class="p-3 fixed top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 flex flex-col bg-white rounded-sm shadow-md"
  >
    <div class="flex justify-between items-center border-b mb-3">
      <p class="font-bold text-xl">Full todo</p>
      <button (click)="closeView()" class="text-red-500 text-sm">X</button>
    </div>
    <p>Name: {{ openedViewTodo.name }}</p>
    <p>Description: {{ openedViewTodo.content }}</p>
    <p>Due: {{ openedViewTodo.due | date : "dd/MM/yyyy" }}</p>
    <p>Competed: {{ openedViewTodo.isChecked ? "Yes" : "No" }}</p>
  </div>
</div>
